<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="35" 
            [radius]="100" 
            [imageSrc]="'../assets/circleprogress/html.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="12" 
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="35" 
            [radius]="100" 
            [imageSrc]="'../assets/circleprogress/CSS.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="12" 
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="35" 
            [radius]="100" 
            [imageSrc]="'../assets/circleprogress/js.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="12" 
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="35" 
            [radius]="100" 
            [imageSrc]="'../assets/circleprogress/git.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="12" 
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="35" 
            [radius]="100" 
            [imageSrc]="'../assets/circleprogress/eng.png'"
            [showImage]="true" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [outerStrokeWidth]="12" 
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="500">
        </circle-progress>
    </div>
</div>